.button {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  border: none;
  border-radius: 3px;
  padding: 13px 16px;
  margin: 10px 0;
  cursor: pointer;
}

.button--primary {
  color: var(--white);
  background-color: var(--primary-800);
}

.button--block {
  display: block;
  width: 100%;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
