.box-container {
  padding: 40px;

  border-radius: 8px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);
  background-color: var(--white);
  width: 100%;
  box-sizing: border-box;

  background-image: url(../../assets/images/bg.svg),
    url(../../assets/images/bg.svg);
  background-repeat: repeat-x, repeat-x;
  background-position: 0 0, bottom;
}
