.recipesListWrapper {
  display: flex;
  flex-direction: column;
}

.recipesListWrapper header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
